
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center grey-text text-lighten-5">Foro</h1>
        <div class="row center">
		<h5 class="header col s12 light grey-text text-lighten-5">Consulta sobre tu producto</h5>
        </div>
        <div class="row center">
          <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light indigo darken-4 head-link"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <br><br>

      </div>
    </div>
  </div>

<div class="container" id="startPosts">
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col s12 m10 offset-m1 l9 offset-l1">
			
			
    <ul>
    <% @questions.each do |question| %>
      <li>
      <div class="post-preview">
      <a href="question/<%= question.id %>/">
          <h4 class="post-title titleFont">
             <%= question.title %>
          </h4>
          <h6 class="post-subtitle subTitleFont">
          </h6>
      </a>
     <p class="post-meta"><i class="fa fa-clock-o"></i> <%= question.created_at %></p>
     </div>
     </li>

    <% end %>
    </ul>
  
                <hr>
		<%=button_to( "Pregunta", :action => "new", :controller => "questions")%>

               
                     <div class="row">
                       <!--<a href="#" class="btn-large waves-effect waves-light blue darken-4">Posts Antiguos<i class="fa fa-chevron-right"></i></a>-->
        </div>
                    
              
			
			
		</div>
	</div>
</div>
